---
layout: layouts/leadership-list.njk
title: Leadership
permalink: /about/leadership/
---

{% include "partials/leadership-roster.njk" %}

<p class="page-actions reveal">
  <a class="btn btn--solid" href="{{ '/contact/' | url }}">
    <span class="btn__dot"></span>
    <span class="lang en">Connect with the Group</span>
    <span class="lang vi">Kết nối với Tập đoàn</span>
    <span class="lang zh">联系集团</span>
  </a>
  <a class="btn btn--outline btn--dark" href="{{ '/about/' | url }}">
    <span class="lang en">About the Group</span>
    <span class="lang vi">Về Tập đoàn</span>
    <span class="lang zh">关于集团</span>
  </a>
</p>
